html, body {
    font-size: 18px;
    color: #30343f;
    font-family: "Courier New", Courier, monospace;
    background-color: #ffffff;
    /* marginとpaddingを0にすることで、headerの上が透けないようにしている */
    /* TODO: bodyがheaderのせいで見切れるので、直す */
    margin: 0px 2px 2px;
    padding: 0px;
}

header {
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
}

h1 {
    #daf0ee;
    position: relative;
    text-align: center;
}

h1:after {
    content: "";
    display: block;
    height: 4px;
    background: -webkit-linear-gradient(to right, #94d1be, #daf0ee);
    background: linear-gradient(to right, #94d1be, #daf0ee);
}

h2 {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #94d1be;/*左線*/
}

code {
  position: relative;
  padding: 10px 10px 7px;
  color: #666666;
  background: #f4f4f4;
  border: 1px solid #dddd;
  border-left: 5px solid #94d1be;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 14px;
  margin: 2em 0;
  // はみ出した時にスクロールできるようにする
  overflow: scroll;
  white-space: pre;
  display: block;
}
