body {
  color: #494949;
  font-size: 18px;
}

h1 {
  border-bottom: solid 3px #cce4ff;
  position: relative;
}

h1:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #5472cd;
  bottom: -3px;
  width: 20%;
}

h2 {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #7db4e6;/*左線*/
}

code {
  position: relative;
  padding: 10px 10px 7px;
  color: #666;
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 5px solid #5bb7ae;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 14px;
  margin: 2em 0;
  // はみ出した時にスクロールできるようにする
  overflow: scroll;
  white-space: pre;
  display: block;
}
